body {
	position: relative;
}


.navbar-default {
  border: none;
  font: 300 'Franklin Gothic Medium', sans-serif;
}

.test {
	width: 800px;
}

.popover {
	max-width: 50%;
}

h1, h2, h3, h4 {
	font-family: 'Franklin Gothic Medium', sans-serif;
}

#datetime {
	color: gray;
}

#sidebar-wrapper {
	font: 200 16px 'Franklin Gothic Medium', sans-serif;
}

.test p, .popover, .modal-content p, .FLFP--button {
	font: 200 18px/25px 'Garamond', serif;
}

.introduction p {
	font-style: italic;
	font-family: 'Garamond', serif;
 	font-size: 20px; 
  line-height: 150%;
  font-style: italic;
  word-spacing: 1px;
  letter-spacing: 0.75px;
}

.introduction {
margin-bottom: 4%;
	padding-bottom: 3%;
	border-bottom: 1px solid rgb(150, 150, 150);
}

.aside {
	margin-top: 50px;
}

.lessons {
	margin-top: 0px;
}

.btn {
	white-space: normal;
}

.btn-lg {
	color: #03A9F4;
}

.aside p, button {
	background-color: #fff;
	color: gray;
	font: 18px/22px 'Franklin Gothic Medium', sans-serif;
}
/*
.aside p {
	color: black;
} */

.aside-img {
	margin: 0 auto;
	max-width: 50%;
}
.wrp-in-text-img {
	 width: 60%;
	 float: right;
   margin: 10px;
}

blockquote {
	/*font: 600 24px/34px 'Garamond', serif;*/
	font: 600 16px/24px 'Garamond', serif;
  text-align: justify;
  word-spacing: -1px;
 }


figcaption {
	font: 300 16px/20px 'Garamond', serif;
	color: gray;
	margin-bottom: 20px;
}

.popover-content blockquote {
	color: gray;
	font: 400 20px/24px 'Garamond', serif;
}


.small-caption {
	font: 200 14px 'Garamond', serif;
	color: #adadad;
	line-height: 110%;
	margin-top: 15px;
	width: 150px;
}

.img-sidebar {
	max-width:95%;
}
.img-body {
	margin-top:2%;
	max-width:85%;
	margin-bottom:3%;
}

.img-table {
  max-width: 100%;
}

.sidebar-nav li {
	line-height: 1.5em;
	height: 40px;
}
 .special-positionning, 
 .positionning--2,
 .positionning--3 
 {
 	position: relative;
  left: -1em;
 }

 .special-positionning {
 	top: 45.25em;;
 } 

.positionning--2 {
  top: 148em;
 }
 .positionning--3 {
  top: 148em;
 }


  .btn-popover {
		padding: 0;
	}	
 
 .modal-content {
 	 width: 810px;
   padding: 20px;
}

.FLFP--button {
  margin-top: -4px;
}

.blue-box {
  border: 2px solid #1978c7;
}

/* this eliminate the lines in the bootsrap modal */
.modal-header, .modal-footer {
  border-bottom: none;
  border-top: none;
}



